<ul class="menu_top lfl">
    {% for item in topmenu %}
        <li class="{% if object == item.page or menuname == item.name %}active{% endif %} {% if 'Свадьба' in item.name %}oth{% endif %}  {% if forloop.last %}last{% endif %}" >
            <a href="{% if item.page %}{% if item.page.front %}/{% else %}{{ item.page.get_absolute_url }}{% endif %}{% else %}/{{ item.url }}{% endif %} ">
                {{ item.name|safe }}
            </a>
            {% if item.children.all.count > 0 %}
                <ul>
                    <div class="shad"></div>
                    {% for sub in item.children.all %}
                        <li>
                            <a href="{% if sub.page %}{{ sub.page.get_absolute_url }}{% else %}/{{ sub.url }}{% endif %} ">
                                {{ sub.name|safe }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <ul>
            {% if item.url == 'rooms' %}
                {% for room in subroom %}
                    <li><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>